## Hi, I'm [Canh Doan](https://github.com/canhdoan) 👋
<!-- <a href="https://twitter.com/canhdt">
  <img align="left" alt="Canh Doan | Twitter" width="21px" src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/social/facebook.svg" style="vertical-align:left; margin:4px" />
</a> -->
<a href="https://twitter.com/canhdt">
  <img align="left" alt="Canh Doan | Twitter" width="21px" src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/social/twitter.svg" style="vertical-align:left; margin:4px"/>
</a>
<!-- <a href="https://twitter.com/canhdt">
  <img align="left" alt="Canh Doan | Twitter" width="21px" src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/social/linkedin.svg" style="vertical-align:left; margin:4px"/>
</a> -->
<a href="https://open.spotify.com/user/w6bevm597zl73ogwjkex3tit2">
  <img align="left" alt="Canh Doan | Twitter" width="21px" src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/social/spotify.svg" style="vertical-align:left; margin:4px"/>
</a> <br />

<br />
<br />
<img align="right" height="270px" width="450px" alt="GIF" src="assets/code.gif" />

My name is {{name}}, a full-stack developer from Viet Nam.

**Languages And Tools:**
<p align="left">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/languages/csharp.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/languages/go.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/languages/html.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/languages/javascript.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/languages/react.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/languages/typescript.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/languages/angularjs.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/services/nginx.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/tools/bash.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/tools/docker.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/tools/kubernetes.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/tools/vim.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="assets/dev/tools/jetbrains.png" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/tools/visualstudio.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/tools/vs_code.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/services/bitbucket.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/services/circleci.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/services/git.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/services/github.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/services/gitlab.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/services/aws.svg" style="vertical-align:center; margin:4px" width="35px">
  <img src="https://raw.githubusercontent.com/canhdoan/canhdoan/main/assets/dev/services/azure.svg" style="vertical-align:center; margin:4px" width="35px">
</p>